// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.map-geolocation{
  height: 500px;
}
.map-search{
  height: 500px;

}
.margin-bottom-50{
  margin-bottom: 50px;
}
.container{
  width: 950px;
  margin: 0 auto;
}
.containerTable{
  width: 1250px;
  margin: 0 auto;
}
.option{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.head{
  width: 100%;
  height: 100px;
  background: #e06365;
  display: flex;
  align-items: center;
  h1{
    margin: 0;
    color: white;
  }
}
a{
  text-decoration: none;

}
.white{
color: white;
}
.addStudent{
  color: white;
  font-size: 30px
}
.headList{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button{
  width: 100px;
  text-align: center;
  padding: 14px 21px;
  background: #ff6767;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.show{
  font-size: 15px;

}
.buttonCrear{
  background: #7e66ff !important
}
input{
  border-radius: 4px;
    background: #48bf99;
    border: 0px;
    color: white;
    font-size: 17px;
    padding: 10px;
    width: 271PX;
}
.buttonForm{
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}
.margin-top10{
  margin-top: 10px
}
.margin-top50{
  margin-top: 50px;
}
.subtitle{
  color: #0072ff;

}
.edit{
  font-size: 15px;
  color: #329030
}
.remove{
  font-size: 15px;
  color: #f35959
}
table {
    border-collapse: collapse;
    width: 100%;
      margin-top: 80px;
}
th{
  color: #e06365
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
